$cc-black-primary: mat-palette($mat-grey, 700, 300, 900);
$cc-black-accent: mat-palette($mat-blue-grey, 400);
$cc-black-warn: mat-palette($mat-red, 500);

$cc-black-theme: mat-dark-theme(
  $cc-black-primary,
  $cc-black-accent,
  $cc-black-warn
);
