$cc-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$cc-nature-accent: mat-palette($mat-deep-purple, 300);
$cc-nature-warn: mat-palette($mat-red, 600);

$cc-nature-theme: mat-light-theme(
  $cc-nature-primary,
  $cc-nature-accent,
  $cc-nature-warn
);
