<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'cc.examples.es.title' | translate }}</h1>
    </div>
  </div>
  <div class="row" [ngClass]="routeAnimationsElements" rtl>
    <ng-container *ngIf="establishments$ | async as establishments">
      <div class="col-md-6 col-lg-3">
        <form autocomplete="false">
          <mat-form-field>
            <input matInput [placeholder]="'cc.examples.stocks.symbol' | translate"
                   [value]="establishments.name"
                   (keyup)="onSymbolChange($event.target.value)">
          </mat-form-field>
        </form>
        <br>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <mat-spinner *ngIf="establishments.loading"></mat-spinner>
        <ng-container *ngIf='establishments.establishments'>
        <mat-card  *ngFor="let establishment of establishments.establishments">
          <mat-card-title>{{establishment.BusinessName}}</mat-card-title>
          <mat-card-subtitle>
            {{establishment.PostCode}}
          </mat-card-subtitle>
          <mat-card-content>Rating: {{establishment.RatingValue}} Date: {{establishment.RatingDate}}</mat-card-content>
        </mat-card>
      </ng-container>
        <p *ngIf="establishments.error" class="error-state">
          <fa-icon icon="exclamation-triangle" size="3x"></fa-icon>
          <br><br>
          <span>
            {{ 'cc.examples.stocks.error1' | translate }}
            <span class="symbol">{{establishments.name}}</span>
            {{ 'cc.examples.stocks.error2' | translate }}
          </span>
        </p>
        <br>
        <br>
      </div>
    </ng-container>
    <div class="col-md-12 col-lg-4" [ngClass]="routeAnimationsElements">
      <p>
        {{ 'cc.examples.stocks.text1' | translate }} <code>HTTP</code>
        {{ 'cc.examples.stocks.text2' | translate }} <code>@ngrx/effects</code>
        {{ 'cc.examples.stocks.text3' | translate }}
      </p>
      <p>{{ 'cc.examples.stocks.text4' | translate }}</p>
      <p>
        {{ 'cc.examples.stocks.text5' | translate }} <code>.switchMap</code>.
      </p>
      <p>{{ 'cc.examples.stocks.text6' | translate }}</p>
    </div>
  </div>
</div>
